
.gray-box {
  width:100%;
  margin-top:10%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

#after_load section {
  width: 40%;
  float: left;
}

main section:not(.subsection) {
  display: inline-block;
  transition: 0.5s;
  width: 100vw;
  height: calc(720px);
}

@media only screen and (max-width:820px) {
    .gray-box {
        width:80%;
        margin-left:6%;
        margin-right: 14%;
        margin-top:-250px;
    }

    #after_load section {
      width: 100%;
      float: left;
    }

    #right {
        width:10px;
        float: left;
    }
}

@media only screen and (max-width:600px) {
    .gray-box {
        margin-top: -200px;
    }
}
