@font-face {
    font-family: 'GT America';
    src: url('fonts/GTAmerica-Medium.woff2') format('woff2'),
        url('fonts/GTAmerica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('fonts/GTAmerica-Light.woff2') format('woff2'),
        url('fonts/GTAmerica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Expanded';
    src: url('fonts/GTAmerica-ExpandedBold.woff2') format('woff2'),
        url('fonts/GTAmerica-ExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('fonts/GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('fonts/GTAmerica-Bold.woff2') format('woff2'),
        url('fonts/GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
