html {
  font-family: "GT America";
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100vw;
  height: 55px;
  z-index: 10000;
  background-color: #FFF;
  transition: 0.3s;
}

header img {
  height: 50px;
  float: left;
  cursor: pointer;
  margin-left: calc(8vw - 10px);
  margin-top: 2.5px;
}

header p {
  cursor: pointer;
  float: left;
  line-height: 50px;
  margin-left: 15px;
  font-family: "GT America";
  font-weight: 500;
  transition: 0.3s;
  font-size: 18px;
  color: #222222;
}

header nav {
  margin-right: 15vw;
  font-weight: 100;
  float: right;
}

header nav > a {
  transition: 0.3s;
  cursor: pointer;
  float: left;
  width: 90px;
  height: 53px;
  margin-left: 30px;
  margin-top: -2px;
  text-align: center;
  color: #222222;
  line-height: 53px;
  border: 2px solid transparent;
  text-decoration:none;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 900px) {
    .mobile-only {
        display: initial
    }

    .desktop-only {
        display: none
    }

    #mobile-nav-btn,#mobile-nav-btn img {
        border: none;
        background-color: transparent;
        float: right;
        vertical-align: middle;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 2.5vw
    }

    #mobile-nav-btn {
        height: 100%
    }

    #mobile-nav-btn img {
        height: 60%;
        margin-top: 0
    }

    #mobile-nav-btn:active {
        border: none
    }

    .mobile-menu {
        position: absolute;
        top: 0;
        height: 102vh;
        width: 100vw;
        background-color: #d0dee9ee;
        display: none
    }

    .nav-text {
        height: 38vh;
        margin: 31vh 10vw;
        width: 80vw;
        padding: 0;
    }

    .nav-text * {
        color: #000;
        font-size: 3.5vh;
        list-style-type: none;
        text-decoration: none;
        text-align: center
    }

    .nav-text li {
        padding: 2vh 0
    }

    header nav {
        display: none
    }

    #mobile-menu-close {
        font-size: 3.5vh;
        border: none;
        background-color: transparent;
        color: #c00
    }

    .show {
        display: initial
    }

    .hide {
        display: none
    }
}

