html {
  font-family: "GT America";
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100vw;
  height: 55px;
  z-index: 10000;
  background-color: #FFF;
  transition: 0.3s;
}

header img {
  height: 50px;
  float: left;
  cursor: pointer;
  margin-left: calc(8vw - 10px);
  margin-top: 2.5px;
}

header p {
  cursor: pointer;
  float: left;
  line-height: 50px;
  margin-left: 15px;
  font-family: "GT America";
  font-weight: 500;
  transition: 0.3s;
  font-size: 18px;
  color: #222222;
}

header nav {
  margin-right: 15vw;
  font-weight: 100;
  float: right;
}

header nav > a {
  transition: 0.3s;
  cursor: pointer;
  float: left;
  width: 60px;
  height: 53px;
  margin-left: 30px;
  margin-top: -2px;
  text-align: center;
  color: #222222;
  line-height: 53px;
  border: 2px solid transparent;
}

#platform {
  transition: 0.3s;
  cursor: pointer;
  float: left;
  width: 60px;
  height: 53px;
  margin-left: 30px;
  margin-top: -2px;
  text-align: center;
  color: #222222;
  line-height: 53px;
  border: 2px solid transparent;
}


.dropdown {
  float: left;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  margin-top: 55px;
  transition: 0.3s;
  background-color: white;
  box-shadow: 0 0 20px lightgray;
  border-radius: 9px;
  margin-left: 23px;
  width: 400px;
  height: 240px;
}

.dropdown-content a {
  display: inline-block;
  transition: 0.3s;
  border-bottom: 1px solid lightgray;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.dropdown-content a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.dropdown-content a i {
  float: left;
  margin-top: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 20px;
  text-align: center;
  height: 36px;
  width: 36px;
  line-height: 36px;
  color: white;
  margin-right: 10px;
  background-color: #FFD579;
}

.dropdown-content a p:nth-child(even) {
  font-weight: 700;
  font-size: 15px;
  margin-top: -10px;
}

.dropdown-content a p:nth-child(odd) {
  font-weight: 100;
  font-size: 13px;
  width: 80%;
  line-height: 30px;
  margin-top: -10px;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#first-wavy-line {
  margin-left: -8vw;
  top: -350px;
  position:relative;
  z-index: -1;
}

nav a i {
  font-size: small;
  -webkit-text-stroke: 1px #FFFFFF;
  opacity: 0.8;
  margin-left: 2px;
  margin-top: -5px;
  display: inline-block;
  font-weight: 100;
}

header nav > a:hover {
  color: #7A94FF;
  border-bottom: 2px solid #7A94FF;
}

#platform:hover {
  color: #7A94FF;
  border-bottom: 2px solid #7A94FF;
}


main section:not(.subsection) {
  display: inline-block;
  transition: 0.5s;
  width: 100vw;
  height: calc(870px);
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
@media (min-width: 1000px) {
  #data_div_left {
    margin-left: -5%;
  }

  ::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: #f5f5f5;
    display: none
  }

  ::-webkit-scrollbar {
      width: 14px;
      background-color: transparent
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 14px;
      background-color: #999;
      background-clip: padding-box;
      border: 2px #00000000 solid
  }

  /* set button(top and bottom of the scrollbar) */
  body::-webkit-scrollbar-button {
    display: none
  }

  .scrollable-content::-webkit-scrollbar * {
    background: transparent;
  }

  .scrollable-content::-webkit-scrollbar-thumb {
    background: #999 !important;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


#main_splash {
}

#main_splash_image {
  width: 100%;
  transition: 0.5s;
  margin-top: -10px;
  position: relative;
  transform: scale(1.1);
  z-index: -1;
}

#catch {
  text-align: center;
  transition: 1.4s;
  font-size: 3vw;
  font-weight: 300;
  position: absolute;
  z-index: 10;
  top: 250px;
  color: #222222;
  width: 100%;
  margin-top: 10vh;
  font-family: "GT America";
}

#nize_suite {
  text-align: center;
  transition: 1.4s;
  font-size: 5vw;
  font-weight: 700;
  position: absolute;
  z-index: 10;
  top: 250px;
  color: #222222;
  width: 100%;
  margin-top: 10vh;
}

#main_sec_wrapper {
  width: 100vw;
  position: absolute;
  text-align: center;
  top: 20vh;
}

#iphone_home {
  transition: 0.5s;
  position: absolute;
  top: 24vh;
  height: 65vh;
  left: 40vw;
}

.main_sec {
  margin-right: 2vw;
  width: 28vw;
  height: 305px;
  overflow: hidden;
  background-color: white;
  display: inline-block;
  transition: 1s;
  border-radius: 25px;
}

.main_sec h2 {
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: #222222;;
  margin-top: 25px;
  font-weight: 500;
}

.main_sec h3 {
  color: black;
  font-weight: 100;
  width: 90%;
  margin-left: 5%;
  line-height: 32px;
  font-size: 18px;
  margin-top: 20px;
}

.main_sec a:not(.more) {
  color: #7A94FF;
  border-bottom: 1px dashed #7A94FF;
  cursor: pointer;
  width: 100px;
  transition: 0.3s;
  font-weight: 700;
}

.main_sec a:not(.more):hover {
  color: #FFD579;
  border-bottom: 1px dashed #FFD579;
}

.main_sec a.more {
  width: 196px;
  height: 38px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #7A94FF;
  border-radius: 40px;
  line-height: 38px;
  font-weight: 500;
  position: absolute;
  bottom: 35px;
  margin-left: -100px;
  transition: 0.5s;
  border: 2px solid transparent;
  display: inline-block;
}

.main_sec a.more:hover {
  border: 2px solid #7A94FF;
  background-color: white;
  color: #7A94FF;
}

footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  bottom: 0px;
  padding-left: calc(25%);
  font-weight: 100;
  float: left;
  border-top: 1px solid rgba(200, 200, 200, 0.47);
  padding-bottom: 30px;
  width: 100vw;
  background-color: #222222;
  z-index: 10000;
}

footer a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer a:hover {
  transition: 0.3s;
  color: #7A94FF;
}

footer a:hover .header_new_button {
  background-color: #7A94FF;
}

#footer_left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(40% - 3% - 50px);
  float: left;
}

#footer_right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(60% - 3% - 50px);
  float: left;
}

#footer_logo {
  width: 125px;
}

#footer_desc {
  color: #cccccc;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 22px;
  width: 70%;
  margin-bottom: 16px;
  margin-top: 16px;
  height: unset;
  text-align: left;
}

.footer_col_title {
  height: unset;
  color: white;
  font-size: 16px;
  text-align: left;
  line-height: unset;
  font-weight: 500;
  cursor: default;
  margin-top: 10px;
  margin-bottom: 16px;
}

.footer_col_link {
  float: left;
  clear: both;
  width: 100%;
  color: #cccccc;
  font-size: 16px;
  line-height: 33px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
}

.footer_info_column {
  float: left;
  display: inline-block;
  margin-right: 15%;
}

.footer_social {
  margin-left: -5px;
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: white;
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  text-align: center;
  transition: 0.2s all;
}

.notfound-social > a:hover {
  color: #fff;
  background-color: #7A94FF;
  border-color: #7A94FF;
}

#swipe1 {
  width: 10px;
  top: -100px;
  margin-left: -50vw;
  transition: 3s;
  position: absolute;
  background-color: #FFF;
  height: 200vh;
  transform: rotate(30deg);
  z-index: 1000;
}

#swipe2 {
  width: 200vw;
  top: -1000px;
  margin-left: -220vw;
  z-index: 1000;
  transition: 4s;
  position: absolute;
  background-color: #FFF;
  height: 200vh;
  transform: rotate(30deg);
}

#after_load {
  margin-top: 50px;
  margin-left: 8vw;
  width: 92vw;
  display: inline-block;
}

#after_load h1 {
  font-weight: 300;
  font-size: 50px;
  margin-top: 80px;
}

#after_load h2 {
  margin-top: -20px;
  color: #222222;
  margin-left: 4px;
  font-size: 20px;
  font-weight: 500;
}

#after_load section i {
  font-size: 16px;
  margin-left: 8px;
  line-height: 32px;
  margin-top: 1px;
}

#after_load section a {
  z-index: 10000;
  width: 220px;
  margin-left: 3%;
  height: 50px;
  margin-top: 40px;
  margin-right: 100px;
  border-radius: 10px;
  background-color: #7A94FF;
  border: 2px solid transparent;
  transition: 0.5s;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  color: white;
}

#after_load section a:hover {
  border-color: #7A94FF;
  color: #7A94FF;
  background-color: white;
}

#see_more {
  bottom: 115px;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 10%;
  margin-left: calc(45% - 7vw);
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  transition: 0.3s;
}

#see_more i {
  margin-top: 10px;
  width: 55px;
  color:#7A94FF;
  background-color: white;
  height: 35px;
  transition: 0.3s;
  line-height: 35px;
  font-size: 14px;
  display: inline-block;
  border-radius: 20px;
}

#see_more:hover i {
  box-shadow: 0 0 4px white;
}

#after_load section {
  width: 50%;
  float: left;
}

#after_load ul {
  margin-top: 80px;
}

ul {
  margin-left: 20px;
  list-style-type: none;
}

ol {
    margin-left: 20px;
}

ol li {
  color: #222222;
  font-weight: 300;
  width: 80%;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

ol li::before {
    content: '\f058';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: rgb(123,151,252);
}


ul li {
  color: #222222;
  font-weight: 300;
  width: 80%;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

ul li::before {
  content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  margin-right: 10px;
  height: 5px;
  border: 5px solid #7A94FF;;
  width: 5px;
  border-radius: 50%;
  background-color: #FFF;
  display: inline-block; /* Needed to add space between the bullet and the text */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#about {
  background-color: #7A94FF;
  margin-top: -360px;
  height: 60vh;
  display: inline-block;
}

#after_load #right img {
  margin-top: 130px;
  margin-left: -13%;
  width: 100%;
}

.circle {
  width: 8px;
  height: 8px;
  border: 3px solid transparent;
  position: absolute;
  border-radius: 50%;
}

.c1 {
  top: 140px;
  right: 600px;
  border-radius: 0px;
}

.c2 {
  top: 100px;
  right: 300px;
}

.c4 {
  border-radius: 0px;
  top: 400px;
  right: 140px;
}

.c5 {
  top: 630px;
  right: 100px;
}

.c6 {
  top: 140px;
  right: 800px;
}

.c7 {
  border-radius: 0px;
  top: 400px;
  right: 900px;
}

#about_content {
  position: absolute;
  margin-top: 40px;
  color: white;
  display: inline-block;
  height: 100%;
  width: 100vw;
}

#about_content h1 {
  text-align: center;
  width: 40%;
  margin-left: 30%;
  line-height: 40px;
  display: inline-block;
  font-weight: 300;
  font-size: 30px;
}

#about_after_bottom {
  transform: scaleX(1);
  margin-left: -8vw;
  top: -130px;
  margin-right: -100px;
  position:relative;
  z-index: -1;
}

.circle2 {
  width: 8px;
  height: 8px;
  border: 3px solid transparent;
  position: absolute;
  border-radius: 50%;
  transition: 0.5s;
}

.d1 {
  margin-top: 100px;
  left: 40px;
  border-radius: 0px;
}

.d2 {
  margin-top: 20px;
  left: 90%;
}

.d3 {
  margin-top: 20%;
  left: 1%;
  border-radius: 0px;
}

.d4 {
  margin-top: 600px;
  left: 20%;
}

.d5 {
  margin-top: 30px;
  left: 20%;
  border-radius: 0px;
}

.d6 {
  margin-top: 550px;
  left: 85%;
}

.d7 {
  margin-top: 600px;
  left: 80px;
  border-radius: 0px;
}

.d8 {
  margin-top: 700px;
  left: 75%;
  display: none;
}

.d9 {
  margin-top: 560px;
  left: 60%;
  border-radius: 0px;
}

.d10 {
  margin-top: -30px;
  left: 70%;
}

.white {
  border-color: white;
}

.blue {
  border-color: #7A94FF;
}

.yellow {
  border-color: #FFD579;
}


#see_more2 {
  color: #7A94FF;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-top: 470px;
  width: 10%;
  margin-left: calc(45%);
  font-size: 20px;
  font-weight: 300;
  position: relative;
  transition: 0.3s;
}

#see_more2 i {
  margin-top: 10px;
  width: 55px;
  color: #7A94FF;
  background-color: white;
  height: 35px;
  transition: 0.3s;
  line-height: 35px;
  font-size: 14px;
  display: inline-block;
  border-radius: 20px;
}

#see_more2:hover i {
  box-shadow: 0 0 4px white;
}

#data_analytics {
  clear: both;
  margin-top: -50px;
  display: inline-block;
}

#custom_solutions {
  clear: both;
  margin-top: 150px;
  display: inline-block;
}

#safety {
  clear: both;
  margin-top: 150px;
  margin-bottom: 100px;
  display: inline-block;
}


#data_analytics_cover_image {
  width: 80%;
  margin-left: 0%;
}

#security_graphic {
  width: 100%;
  margin-left: 0%;
}

#safety_cover_image {
  width: 70%;
  margin-left: 10%;
}

.data_div {
  width: 45%;
  margin-left: 5%;
  float: left;
  display: block;
}

.subsection h1 {
  margin-left: 10%;
  font-weight: 700;
  line-height: 45px;
  width: 101%;
}

.b_border1 {
  border-bottom: 8px solid #FFD579;
  width: 15%;
  margin-top: -5px;
  margin-left: 10%;
}

.subsection h2 {
  margin-left: 10%;
  margin-top: 30px;
  font-size: 20px;
  line-height: 35px;
}

.subsection h2 a {
  color: #7A94FF;
  border-bottom: 1px dashed #7A94FF;
  cursor: pointer;
  width: 100px;
  transition: 0.3s;
  font-weight: 700;
}

.subsection h2 a:hover {
  color: #FFD579;
  border-bottom: 1px dashed #FFD579;
}

.data_div > a {
  clear: both;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  transition: 0.3s;
  margin-left: calc(10% + 20px);
  margin-top: 30px;
}

.data_div > a h3 {
  display: inline-block;
}

.data_div > a:hover {
  color: #7A94FF;
}

.data_div > a i {
  transition: 0.4s;
  margin-right: 10px;
}

.data_div > a p {
  color: #222222;
  margin-top: 10px;
  width: 80%;
  margin-left: 20px;
  transition: 0.5s;
  font-weight: 100;
  line-height: 30px;
}

.data_div > a p.hidden {
  visibility: hidden;
  opacity: 0;
}

#see_more3 {
  color: #7A94FF;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-top: 470px;
  width: 10%;
  margin-left: calc(45%);
  font-size: 20px;
  font-weight: 300;
  position: relative;
  transition: 0.3s;
}

#see_more3 i {
  margin-top: 10px;
  width: 55px;
  color: #7A94FF;
  background-color: white;
  height: 35px;
  transition: 0.3s;
  line-height: 35px;
  font-size: 14px;
  display: inline-block;
  border-radius: 20px;
}

#see_more3:hover i {
  box-shadow: 0 0 4px white;
}

#landing_intro {
  width: 100%;
}

#landing_intro h1 {
  text-align: center;
  width: 25%;
  line-height: 45px;
  font-weight: 500;
  margin-left: 37.5%;
  font-size: 38px;
}

.sub_bar {
  width: 10%;
  margin-bottom: 20px;
  height: 5px;
  background-color: #FFD579;
  margin-left: 45%;
}

.sub_div {
  margin-top: 15px;
}

#landing_intro .sub_div {
  width: 30%;
  margin-left: 15%;
  float: left;
}

.feature {
  margin-top: 20px;
  height: 100px;
  margin-bottom: 30px;
}

.feature h2 {
  color: #222222;
  font-weight: 400;
  font-size: 22px;
  display: inline;
  margin-left: 30px;
}

.feature i {
  font-size: 14px;
  color: white;
  background-color: #7A94FF;
  border-radius: 50%;
  padding: 6px;
}

.feature p {
  margin-left: 60px;
  line-height: 30px;
  margin-top: 5px;
  font-weight: 100;
}

#features {
  background-color: #fbfbfb;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-bottom: 300px;
}

#features h1 {
  margin-top: 80px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  width: 25%;
  font-weight: 500;
  font-size: 38px;
}

#sub_feature_container {
  width:80%;
  margin-left: 10%;
}

#features .sub_feature {
  width: 25%;
  margin-top: 30px;
  background-color: white;
  margin-bottom: 50px;
  margin-left: 3.8%;
  margin-right: 3.8%;
  height: 350px;
  color: #222222;
  font-weight: 100;
  display: inline-block;
  border-radius:8px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 0 8px lightgray;
  float:left;
  position:relative;
}


#features .sub_feature:hover {
  box-shadow: 0 0 30px lightgray;
}

.sub_feature i {
  margin-top: 22px;
  color: white;
  background-color: #FFD579;
  padding: 20px;
  font-size: 28px;
  border-radius: 50%;
  height:32px;
  width:32px;
}

.sub_feature h2 {
  opacity: 0.9;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
}

.sub_feature p {
  width: 80%;
  margin-left: 10%;
  line-height: 20px;
  font-size: 16px;
  margin-top: 20px;
}

.sub_feature a {
  position:absolute;
  bottom:20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  height: 40px;
  width:40%;
  border: 1px solid lightgray;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  color: #222222;
  transition: 0.3s;
  line-height: 40px;
  display:inline-block;

}


.sub_feature a:hover {
  box-shadow: 0 0 8px lightgray;
}


/* RESPONSIVE FOR MOBILE */
@media (max-width: 1000px) {
  #footer_left {
    width: 100%;
  }

  footer {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    padding-left: 0;
  }

  #footer_desc {
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }

  #footer_right {
    display: none;
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 1366px) and (min-width: 821px) {

  .c1 {
     top: 575px;
     right: 530px;
  }

  .c4 {
    top: 600px;
    right: 200px;
  }

  .c6 {
    top: 100px;
  }

  .c7 {
    top: 315px;
  }

  #first-wavy-line {
    top: -50px;
  }

  #about {
    margin-top: -55px;
  }

  #about_content h1 {
    width: 50%;
    margin-left: 25%;
    line-height: 50px;
    font-size: 40px;
  }

  /* #about_after_bottom {
    margin-right: -100px;
  } */

  .d4 {
    margin-top: 640px;
    left: 75%;
  }

  .d7 {
    margin-top: 625px;
    left: 170px;
  }

  .main_sec {
    width: 30vw;
    height: 350px;
  }

  .main_sec h3 {
    font-size: 20px;
  }

  #main_sec3 {
    margin-right: 0;
  }

  #custom_solutions, #safety {
    margin-top: 75px;
  }

  #features .sub_feature {
      width:40%;
      height:385px;
  }

  #features {
      padding-bottom: 800px;
  }

  #landing_intro .sub_div {
    width: 38%;
    margin-left: 8%;
  }

  #see_more i {
    color:white;
    background-color: #7A94FF;
  }
}

@media (max-width: 900px) {
  nav {
    display: none;
  }

  svg {
    display: none;
  }

  #see_more, #see_more2, #see_more3 {
    display: none;
  }

  .main_sec a.more {
    width: 50px;
  }

  .circle, .circle2 {
    display: none;
  }

  #after_load h1 {
    margin-top: 30px;
  }

  #after_load h2 {
    width: 80%;
  }

  ul li::before {
    display: none;
  }

  #after_load section {
    width: 100%;
  }

  #after_load ul {
    margin-left: 5px;
    margin-top: 50px;
  }

  main section:not(.subsection) {
    height: 620px;
  }


  ul li {
    font-size: 14px;
    line-height: 18px;
  }

  #after_load #right img {
    display: none;
    margin-top: -20px;
    margin-bottom: 250px;
  }

  #right {
    clear: both;
    height: 410px;
  }

  #about {
    margin-top:-400px;
    height: 950px;
  }

  #about_content h1 {
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
  }

  #about_content {
    height: 600px;
    display: inline-block;
  }

  #main_sec_wrapper {
    top: initial;
    margin-top: 20px;
  }

  .main_sec {
    width: 80%;
    margin-bottom: 50px;
  }

  #data_analytics {
    margin-top: 100px;
  }

  .data_div > a {
    margin-left: 30px;
  }

  .main_sec h2 {
    width: 80%;
    margin-left: 10%;
  }

  .main_sec h3 {
    font-size: 16px;
    line-height: 25px;
  }

  .main_sec a.more {
    position: initial;
    margin-top: 30px;
    width: 50%;
    margin-left: 0%;
  }

  #data_analytics_cover_image, #custom_solutions_cover_img, #safety_cover_image, #security_graphic {
    display: none;
  }

  #data_analytics {
    margin-top: 20px;
  }

  .data_div {
    width: 75%;
  }

  .subsection h1 {
    width: 100%;
  }

  #custom_solutions, #safety {
    margin-top: 50px;
  }

  #features h1 {
    width: 80%;
    margin-right: 0px;
    margin-left: calc(10% - 30px);
  }

  #features .sub_feature {
    width: 90%;
    height: 340px;
    margin-bottom: 30px;
  }

  #landing_intro h1 {
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
  }

  .sub_bar {
    width: 40%;
    margin-left: 30%;
  }

  #landing_intro .sub_div {
    width: 85%;
  }

  .feature i {
    float: left;
    margin-top: -2px;
    margin-right: 20px;
  }

  .feature p {
    margin-left: 46px;
  }

  .feature h2 {
    font-size: 18px;
  }

  .feature {
    width: 80%;
    display: inline-block;
    margin-left: -10px;
    padding-bottom: 20px;
  }

  #landing_intro {
    height: 1350px;
    padding-bottom: 100px;
  }
}

.desc-title {
    font-size: 22px;
    font-height: 34px;
}

.desc-text {
    font-size: 15px;
    font-height: 14px;
}

@media only screen and (max-width:900px) {
    #features {
        padding-bottom: 2100px;
    }

    .feature h2 {
      margin-left: 0px;
    }
}



@media (max-width:1650px) and (min-width:1366px) {

    #first-wavy-line {
      top: -240px;
    }

    #about {
      margin-top: -250px;
      height: 60vh;
    }
}

@media only screen and (max-width:1150px) {
    #cover-image {
        display:none;
    }
    ul li {
        width:100%;
    }
}
