@font-face{
	font-family:"gt-america regular";
	src:url("GT-America Font/GT-America/GT-America-Regular.OTF");
}
@font-face{
	font-family:"gt-america bold";
	src:url("GT-America Font/GT-America/GT-America-Bold.OTF");
}
@font-face{
	font-family:"gt-america thin";
	src:url("GT-America Font/GT-America/GT-America-Thin.OTF");
}

html, body{
	margin:0px;
	height:1000px;
}

#scroller{
	position:relative;
	width:100%;
	height:3270px;
	bottom:100px;
	background-color:#7a94ff;
	margin:0px;
	overflow-y:hidden;
}

#logo{
	position:relative;
	left:350px;
	top:5px;
	width:50px;
	height:50px;
	margin:0px;
}

#big-text{
	position:relative;
	font-family:gt-america bold;
	font-size:70px;
	color:white;
	margin:0px;
	padding:0px;
	top:650px;
	margin:0px;
	margin-left:-1000px;
	transition: margin-left 1.7s;
}

strong{
	font-size:100px;
	color:#FFFB38;
	margin:0px;
}

#sticky-navigation{
	position:sticky;
	width:100%;
	height:70px;
	top:0px;
	z-index:100;
	margin:0px;
}

.navigation{
	position:relative;
	background:transparent;
	border:none;
	font-family:gt-america regular;
	font-size:15px;
	top:25px;
	float:right;
	right:350px;
	width:125px;
	color:#e8e8e8;
	cursor:pointer;
	margin:0px;
}
.navigation:hover{
	color:white;
}
.navigation:focus{
	outline:0px;
}

#dashboard-picture{
	position:relative;
	width:500px;
	margin:0px;
	top:200px;
	right:200px;
	height:700px;
	float:right;
	border-radius:10px;
	transition:right 1.7s;
	overflow:hidden;
	margin:0px;
}

#bottom{
	position:relative;
	width:100%;
	height:10000px;
	bottom:-1100px;
	background-color:white;
	margin:0px;
}

.headers{
	position:relative;
	color:#333636;
	font-family:gt-america regular;
	font-size:40px;
	transition:margin-left 1.7s;
	overflow-x:hidden;
}

.paragraph{
	position:relative;
	color:#333636;
	font-family:gt-america thin;
	font-size:24px;
	transition:margin-left 1.7s;
	overflow-x:hidden;
}

#product{
	position:relative;
	width:250px;
	height:250px;
	float:right;
	bottom:150px;
	left:175px;
}

#over{
	overflow-x:hidden;
	position:relative;
	width:100%;
	height:400px;
	background-color:#e6e6e6;
	bottom:8575px;
	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 83%, 0 100%, 0 0);
}

#under{
	position:relative;
	width:100%;
	height:600px;
	background-color:#e6e6e6;
	bottom:8300px;
	clip-path: polygon(50% 17%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	text-align:center;
}
#middle{
	position:relative;
	width:100%;
	bottom:8550px;
	height:0px;
	text-align:center;
}

.security{
	position:relative;
	width:200px;
	height:125px;
	top:200px;
	margin-left:2%;
	margin-right:2%;
	background:white;
	display:inline-block;
	box-shadow: 5px 10px #ababab;
	border-radius:5px;
	text-align:center;
	font-family:gt-america bold;
	font-size:18px;
	color:#333636;
	padding-top:75px;
	padding-left:10px;
	padding-right:10px;
}

#very-bottom{
	position:relative;
	background-color:#7a94ff;
	width:100%;
	height:200px;
	bottom:600px;
	bottom:8320px;
}

#copyright{
	position:relative;
	font-family:gt-america regular;
	font-size:16px;
	color:#e8e8e8;
	text-align:center;
	top:85px;
}